.cite {
    background-color: rgb(0, 199, 199);
    height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cite cite {
    font-size: 20px;
    font-weight: 500;
    width: 500px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
    .cite cite {
        width: 650px;
    }
} 

.cite p {
    font-size: 12px;
    font-weight: 500;
}

.logos {
    height: 20vh;
    display: flex;
    flex-direction: row;
    margin: 0px 30px 0px 30px;
}

.each-logo {
    display: flex;
    flex: 20%;
    justify-content: center;
    align-items: center;
}

.each-logo:last-child {
    display: none;
}

@media only screen and (min-width: 992px) {
    .each-logo:last-child {
        display: flex;
    }
} 