.contact {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
}

.contact-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-bottom: 30px;
}

.contact-text h2 {
    font-size: 32px;
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 30px;
}

.contact-text p {
    color: rgb(150, 149, 149);
    font-size: 15px;
    font-weight: 500;
    width: 500px;
    text-align: center;
    line-height: 20px;
}

.contact-input {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    color: rgb(150, 149, 149);
}

.user-data-input input,
.title-input input,
.comment-input textarea {
    font-size: 12px;
    color: black;
    border: none;
    padding-left: 15px;
    margin-bottom: 20px;
    resize: none;
}

.user-data-input input {
    height: 40px;
    width: 250px;
}

.user-data-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-data-input input:first-child {
    margin-right: 22px;
}

.title-input input {
    height: 40px;
    width: 540px;
}

.comment-input textarea {
    height: 150px;
    width: 540px;
    padding-top: 10px;
}

@media only screen and (min-width: 768px) {
    .user-data-input input {
        width: 290px;
    }
    .title-input input, 
    .comment-input textarea {
        width: 620px;
    }
  }

  .send-message-button {
    font-size: 10px;
    color: white;
    background-color: rgb(0, 199, 199);
    border: none;
    width: 146px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 80px;
    transition: opacity 0.15s, box-shadow 0.15s;
    
}

.send-message-button:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.15);
}