header{
    font-size: 23px;
    font-weight: 700;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    align-items: center;
    z-index: 100;
    height: auto;
    width: 100%;
    background-color: white;
}

header img {
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 50px;
    padding-bottom: 20px;
    z-index: 10;
}

header nav {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 5;
    align-items: center;
    justify-content: space-around;
    top: 0;
    background-color: white;
    transition: all .2s ease;
}

header nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header nav ul li{
    padding-bottom: 30px;
}

.hamburger{
    position: relative;
    width: 50px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    align-self: flex-start;
    margin-top: 20px;
    margin-right: -50px;
    z-index: 10;
}

.hamburger-box{
    width: 25px;
    display: inline-block;
    position: relative;
    background: transparent;
}
.hamburger-inner{
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: black;
    right: 100px;
    top:50%;
    transform: translateY(-50%);
    transition: background-color 0.15s;
 }
 .hamburger-inner::before,.hamburger-inner::after{
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    background-color: black;
    content: ' ';
    left: 0;
    transition: transform  .3s .1s ease-in-out;
    transition: background-color 0.15s;
}

.hamburger:hover .hamburger-inner,
.hamburger:hover .hamburger-inner::before,
.hamburger:hover .hamburger-inner::after
{
    background-color: rgb(26, 221, 221);
}

 .hamburger ,.menu nav {
     transition: transform .3s .1s ease-in-out;
 }

 .nav--active{
    top: -1000px;
 }

 .hamburger-inner::after{
     top: 10px;
 }

 .hamburger-inner::before{
     top: -10px;
 }

 .hamburger--active .hamburger-inner::before{
     transform:translateY(10px) rotate(45deg) ;

 }
 .hamburger--active .hamburger-inner::after{
     transform: translateY(-10px) rotate(-45deg);
 }

 .hamburger--active .hamburger-inner{
    background-color: transparent;
    transition: transform  .3s .1s ease-in-out;
 }

 .hamburger--active .hamburger-inner:hover {
    background-color: transparent;
    transition: transform  .3s .1s ease-in-out;
}

.hamburger-box--active .hamburger-inner:hover {
    pointer-events: none;
}


.menu-each-element {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.15s;
}

.menu-each-element:hover {
    color: rgb(26, 221, 221);
}

@media only screen and (min-width: 1025px) {
    header {
        height: auto;
        font-size: 13px;
    }

    header img {
    align-self: auto;
    }

     header nav {
        height: auto;
        position: static;
     }

    header nav ul {
        display: flex;
        flex-direction: row;
        flex: 1;
        list-style-type: none;
        justify-content: right;
    }

    header nav ul li{
        padding-bottom: 0px;
    }
    
    header nav ul li {
        margin-right: 40px;
        letter-spacing: 1.5px;
    }

    header nav ul li:last-child {
        margin-right: 50px;
    }

    .hamburger {
        display: none;
    }
  } 