.tiles-with-pictures {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tiles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    padding: 5px 10px 5px 10px;
  }
  
  .tile {
    background-color: rgb(247, 247, 247);
    flex-basis: calc(20% - 16px);
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    width: 226px;
    height: 226px;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
    transition: transform 0.15s;
    border-radius: 10px;
  }

  .tile:hover {
    transform: scale(1.09);
  }

  
  .tiles:nth-child(even) .tile:nth-child(even) {
    background-color: rgb(225, 225, 225);
  }

  .tiles:nth-child(odd) .tile:nth-child(odd) {
    background-color: rgb(225, 225, 225);
  }
  
  @media (max-width: 999px) {
    .tile {
      flex-basis: calc(33.33% - 16px);
    }
  }
  
  @media (max-width: 750px) {
    .tile {
      flex-basis: calc(50% - 16px);
    }
  }
  
  @media (max-width: 500px) {
    .tiles {
      flex-wrap: nowrap;
    }
    .tile {
      flex-basis: calc(33.33% - 16px);
    }
  }
  
  .load-more-work {
    font-size: 13px;
    font-weight: 500;
    color: rgb(151, 151, 151);;
    background-color: rgb(245, 245, 245);
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .load-more-work-button {
    cursor: pointer;
  }